<header class="app-header">  <div class="logo-container">    <img src="assets/logo.png" alt="Logo" class="logo">    <h1 class="app-title">Nombre de la Aplicación</h1>  </div></header>

<div class="background">
  <div class="login-window">
          <form [formGroup]="registerForm" (ngSubmit)="register()" >
            <h1 >Registro</h1>
            <div *ngIf="currentSection === 1">
            <mat-form-field class="form-field">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="nombre" formControlName="nombre" required>
              <mat-error *ngIf="registerForm.controls['nombre'].hasError('required')">
                El nombre es obligatorio
              </mat-error>
            </mat-form-field>

            <div class="row">
              <div class="col-md-6 mb-4">
                <mat-form-field class="form-field">
                  <mat-label>Primer Apellido</mat-label>
                  <input matInput placeholder="Primer Apellido" formControlName="apellidoMaterno" required>
                  <mat-error *ngIf="registerForm.controls['apellidoMaterno'].hasError('required')">
                    El nombre es obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-4">
                <mat-form-field class="form-field">
                  <mat-label>Segundo Apellido</mat-label>
                  <input matInput placeholder="Segundo Apellido" formControlName="apellidoPaterno">
                </mat-form-field>
              </div>
            </div>

            <div class="form-outline mb-4">
            <mat-form-field class="form-field">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                El correo electrónico es obligatorio
              </mat-error>
              <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                Ingrese un correo electrónico válido
              </mat-error>
            </mat-form-field>
            </div>
            <button class="btn btn-light btn-lg" (click)="nextSection()">Siguiente</button>
          </div>

          <div *ngIf="currentSection === 2">
            <div class="form-outline mb-4">
              <mat-form-field class="form-field">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" formControlName="password" required>
                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                  La contraseña es obligatoria
                </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched">
                  La contraseña debe tener al menos 8 caracteres
                </mat-error>
              </mat-form-field>

            </div>

            <div class="form-outline mb-4">
              <mat-form-field class="form-field">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput placeholder="Confirmar Contraseña" formControlName="confirmPassword" required>
                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                  La contraseña es obligatoria
                </mat-error>
                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required') && registerForm.controls['confirmPassword'].touched">
                  La contraseña es requerida y debe tener al menos 8 caracteres
                </mat-error>
                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('mismatch') && registerForm.controls['confirmPassword'].touched">
                  Las contraseñas deben coincidir
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-outline mb-4">
            <mat-form-field class="form-field">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Teléfono" formControlName="telefono" required>
              <mat-error *ngIf="registerForm.controls['telefono'].hasError('required')">
                El teléfono es obligatorio
              </mat-error>
              <mat-error *ngIf="registerForm.controls['telefono'].hasError('pattern')">
                Formato del teléfono incorrecto
              </mat-error>
            </mat-form-field>
            </div>
              <mat-form-field class="form-field">
                <mat-label>Fecha de Nacimiento</mat-label>
                <mat-hint>MM/DD/YYYY</mat-hint>
                  <input matInput [matDatepicker]="fechaNacimiento" formControlName="fechaNacimiento" required>
                  <mat-datepicker-toggle matIconSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                  <mat-datepicker #fechaNacimiento></mat-datepicker>
              <mat-error *ngIf="registerForm.controls['fechaNacimiento'].hasError('required')">
                Fecha de nacimiento obligatoria
              </mat-error>
            </mat-form-field>
            <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
              <div class="mb-0 me-4" style="color: #6a1b9a;">Genero: </div>
              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input"
                formControlName="sexo" type="radio" name="sexo" id="femaleGender" value="female" />
                <label class="form-check-label" for="femaleGender">Femenino</label>
              </div>
              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input"
                formControlName="sexo" type="radio" name="sexo" id="maleGender" value="male" />
                <label class="form-check-label" for="maleGender">Masculino</label>
              </div>
              <div class="form-check form-check-inline mb-0">
                <input class="form-check-input"
                formControlName="sexo" type="radio" name="sexo" id="otherGender" value="other" />
                <label class="form-check-label" for="otherGender">Otro</label>
              </div>
            </div>

            <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
              <div class="mb-0 me-4" style="color: #6a1b9a;">Estado Civil: </div>
              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input"
                formControlName="estadoCivil"  type="radio" name="estadoCivil" id="solteroEC" value="female" />
                <label class="form-check-label" for="solteroEC">Soltero</label>
              </div>
              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input"
                formControlName="estadoCivil"  type="radio" name="estadoCivil" id="casadoEC" value="male" />
                <label class="form-check-label" for="casadoEC">Casado</label>
              </div>
              <div class="form-check form-check-inline mb-0">
                <input class="form-check-input"
                formControlName="estadoCivil"  type="radio" name="estadoCivil" id="separadoEC" value="other" />
                <label class="form-check-label" for="separadoEC">Separado</label>
              </div>
            </div>
            <button class="btn btn-light btn-lg" (click)="previousSection()">Atrás</button>
            <button class="btn btn-light btn-lg" (click)="nextSection()">Siguiente</button>
          </div>

          <div *ngIf="currentSection === 3">
            <div class="form-outline mb-4">
              <mat-form-field class="form-field">
                <mat-label>Direccion</mat-label>
                <input matInput placeholder="Direccion" formControlName="address">
              </mat-form-field>
            </div>
            <div class="form-outline mb-4">
              <mat-form-field class="form-field">
                <mat-label>Ocupación</mat-label>
                <input matInput placeholder="Ocupación" formControlName="ocupacion">
              </mat-form-field>
            </div>

            <div class="form-outline mb-4">
              <mat-form-field class="form-field">
                <mat-label>Título</mat-label>
                <input matInput placeholder="Título" formControlName="titulo">
              </mat-form-field>
            </div>


            <div class="d-flex justify-content-end pt-3">
              <button type="reset" class="btn btn-light btn-lg">Limpiar</button>
              <button class="btn btn-light btn-lg" (click)="previousSection()">Atrás</button>
              <button type="submit" class="btn btn-warning btn-lg ms-2" style="background-color: #6a1b9a; border-color: #6a1b9a;">Registrarse</button>
            </div>
          </div>
          </form>
        </div>
</div>
