
<section class="vh-100">
  <div class="container-fluid">
    <div class="row"  style="padding-bottom:15px">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 display-4 "><img src="assets/imagen/logo.png" alt="Logotipo" style="height: 80px; margin: 20px;">
            FeelFinder</span>

        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-0 pt-3 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;">

<h1>Registro</h1>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  <label class="form-label" for="form3Example1m">First name</label>
                  <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  <label class="form-label" for="form3Example1n">Last name</label>
                  <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  <label class="form-label" for="form3Example1m1">Mother's name</label>
                  <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  <label class="form-label" for="form3Example1n1">Father's name</label>
                  <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                </div>
              </div>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example8">Address</label>
              <input type="text" id="form3Example8" class="form-control form-control-lg" />
            </div>

            <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

              <h6 class="mb-0 me-4">Gender: </h6>

              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                  value="option1" />
                <label class="form-check-label" for="femaleGender">Female</label>
              </div>

              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                  value="option2" />
                <label class="form-check-label" for="maleGender">Male</label>
              </div>

              <div class="form-check form-check-inline mb-0">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                  value="option3" />
                <label class="form-check-label" for="otherGender">Other</label>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 mb-4">

                <select data-mdb-select-init>
                  <option value="1">State</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 3</option>
                </select>

              </div>
              <div class="col-md-6 mb-4">

                <select data-mdb-select-init>
                  <option value="1">City</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 3</option>
                </select>

              </div>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example9">DOB</label>
              <input type="text" id="form3Example9" class="form-control form-control-lg" />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example90">Pincode</label>
              <input type="text" id="form3Example90" class="form-control form-control-lg" />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example99">Course</label>
              <input type="text" id="form3Example99" class="form-control form-control-lg" />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example97">Email ID</label>
              <input type="text" id="form3Example97" class="form-control form-control-lg" />
            </div>

            <div class="d-flex justify-content-end pt-3">
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset all</button>
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">Submit form</button>
            </div>
          </form>

        </div>

      </div>
      <div class="col-sm-6 " >
        <img src="https://www.beloit.edu/live/image/gid/86/width/1000/1964_Beloit_9-12-18_0084_flipped_3.rev.1565881409.webp" alt="Login image" style="object-fit: cover;  object-position: right; height:100%; width:70%    ">
      </div>
    </div>
  </div>
</section>
