<div class="container mt-5">
  <h1 class="mb-4 text-center">Registrar Cita</h1>

  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <h5 class="card-title">Fecha Seleccionada: {{ fecha }}</h5>
      <form [formGroup]="appointmentForm" (ngSubmit)="registerAppointment()">
        <div class="mb-3">
          <label for="idPaciente" class="form-label">Seleccionar Paciente:</label>
          <select id="idPaciente" formControlName="idPaciente" class="form-select" required>
            <option *ngFor="let paciente of pacientes" [value]="paciente.idPaciente">{{ paciente.nombre }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="horario" class="form-label">Hora de la Cita:</label>
          <input id="horario" type="time" formControlName="horario" class="form-control" required>
        </div>

        <!-- Campo oculto para la fecha seleccionada -->
        <input type="hidden" formControlName="fecha">

        <button type="submit" class="btn btn-primary w-100">Registrar Cita</button>
        <button type="button" class="btn btn-secondary w-100 mt-3" (click)="goBack()">Volver al Calendario</button>
      </form>
    </div>
  </div>
</div>
