<div class="container mt-5">
  <h1 class="mb-4 text-center">Registrar Cita</h1>

  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <h5 class="card-title">Fecha Seleccionada: {{ selectedDate }}</h5>
      <form [formGroup]="appointmentForm" (ngSubmit)="registerAppointment()">
        <div class="mb-3">
          <label for="patientName" class="form-label">Nombre del Paciente:</label>
          <input id="patientName" type="text" formControlName="patientName" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="appointmentTime" class="form-label">Hora de la Cita:</label>
          <input id="appointmentTime" type="time" formControlName="appointmentTime" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Registrar Cita</button>
        <button class="btn btn-primary w-100 mt-3" (click)="goBack()">Volver al Calendario</button>
      </form>
    </div>
  </div>
</div>
