
<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">

          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 display-4 "><img src="assets/imagen/logo.png" alt="Logotipo" style="height: 80px; margin: 20px;">
              FeelFinder</span>
          </div>

          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-0 pt-3 pt-xl-0 mt-xl-n5">

            <form style="width: 23rem;">

              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar Sesión</h3>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example18">Correo Electrónico</label>
                <input type="email" id="form2Example18" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example28">Contraseña</label>
                <input type="password" id="form2Example28" class="form-control form-control-lg" />
              </div>

              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="button">Login</button>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Olvidó su contraseña?</a></p>
              <p>Don't have an account? <a routerLink="/registro" class="link-info">Registrarse Aquí</a></p>

            </form>

          </div>

        </div>
        <div class="col-sm-6 ">
          <img src="https://www.beloit.edu/live/image/gid/86/width/1000/1964_Beloit_9-12-18_0084_flipped_3.rev.1565881409.webp" alt="Login image" class="w-100 " style="object-fit: scale-down; object-position: left; height:90vh;">
        </div>
      </div>
    </div>
  </section>
