<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-4">Escríbenos</h2>
      <form>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
          <label for="surname">Apellido</label>
          <input type="text" class="form-control" placeholder="Ingresa tu apellido">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Ingresa tu email">
        </div>
        <div class="form-group">
          <label for="subject">Asunto</label>
          <input type="text" class="form-control" placeholder="Ingresa tu asunto">
        </div>
        <div class="form-group">
          <label for="message">Mensaje</label>
          <textarea class="form-control" rows="4" placeholder="Escribe tu mensaje"></textarea>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">Oficina </h5>
          <p class="card-text" style=" margin-top: 30px;">
            <strong>Dirección:</strong> Calle Mariscos 123, León, Mexíco<br>
            <strong>Teléfono:</strong> 477 200 3000 4000<br>

          </p>
          <h6 class="card-subtitle mb-2 text-muted" style=" margin-top: 30px;">Horario de Atención</h6>
          <p class="card-text" style=" margin-top: 30px;">
            Lunes a Viernes: 7:00 AM - 4:00 PM<br>
            Sábado: 5:00 PM - 6:00 PM<br>
            Domingo: 1:00 PM - 4:00 PM
          </p>
        </div>
      </div>
    </div>
  </div>
