<h2 mat-dialog-title>Editar Paciente</h2>
<mat-dialog-content>
  <form [formGroup]="pacienteForm">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apellidoPaterno">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="apellidoMaterno">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- Agrega más campos según sea necesario -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()">Guardar</button>
</mat-dialog-actions>
