<div class="container mt-5">
  <h2>Lista de Pacientes</h2>
  <div class="list-group">
    <a
      *ngFor="let paciente of pacientes"
      (click)="seleccionarPaciente(paciente)"
      class="list-group-item list-group-item-action"
      [class.active]="paciente === pacienteSeleccionado">
      <h5 class="mb-1">{{ paciente.nombre }}</h5>
      <p class="mb-1">Edad: {{ paciente.edad }}</p>
      <p class="mb-1">Email: {{ paciente.email }}</p>
    </a>
  </div>
  <div *ngIf="pacienteSeleccionado" class="mt-4">
    <h4>Paciente Seleccionado</h4>
    <p><strong>Nombre:</strong></p>
    <p><strong>Edad:</strong> </p>
    <p><strong>Email:</strong> </p>
  </div>
</div>
