<div class="container d-flex flex-column align-items-center vh-100 mt-3">
  <div class="text-center w-100">
    <h1 style="color: #6a0dad; width: 100%; text-align: center;">Agregar Paciente</h1>

    <div class="mt-5">
      <button class="btn btn-primary btn-lg btn-block mb-3" style="width: 80%;" (click)="showCodeInput = !showCodeInput; showForm = false">
        Por Código
      </button>

      <button class="btn btn-secondary btn-lg btn-block" style="width: 80%;" (click)="showForm = !showForm; showCodeInput = false">
        Registrar
      </button>
    </div>

    <div *ngIf="showCodeInput" class="mt-4">
      <input type="text" class="form-control mb-3" placeholder="Ingrese el código">
      <button class="btn btn-success">Agregar</button>
    </div>

    <div *ngIf="showForm" class="mt-4">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
