<div class="jumbotron">
  <h1 class="display-4">FeelFinder</h1>
  <p class="lead">La !!</p>
  <hr class="my-4">

</div>

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-auto">
      <img src="assets/imagen/banner.png" class="img-fluid" >
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-2 mb-4">
      <div class="card">
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <img class="card-img-top img-thumbnail" src="assets/imagen/1.png" style="max-width: 100px; max-height: 100px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Pijama de Seda</h5>
          <p class="card-text">Última moda para las damas, cómoda y ajustable.</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-4">
      <div class="card">
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <img class="card-img-top img-thumbnail" src="assets/imagen/6.png" style="max-width: 100px; max-height: 100px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Pijama Clásica</h5>
          <p class="card-text">La vieja confiable en calidad, diseño y comodidad.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 mb-4">
      <div class="card">
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <img class="card-img-top img-thumbnail" src="assets/imagen/11.png" style="max-width: 100px; max-height: 100px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Pijama de Superhéroes</h5>
          <p class="card-text">Para echar a volar la imaginación.</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-4">
      <div class="card">
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <img class="card-img-top img-thumbnail" src="assets/imagen/16.png" style="max-width: 100px; max-height: 100px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Pijama de Princesas</h5>
          <p class="card-text">Porque la magia siempre está con nosotros.</p>
        </div>
      </div>
    </div>
  </div>
</div>
