<!-- Sidebar -->
<nav id="sidebar" class="bg-purple">
  <div class="sidebar-header">
    <a href="#">
      <img src="assets/imagen/logo.png" alt="Logotipo" class="logo">

    </a>
  </div>
  <ul class="list-unstyled components">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Página Principal</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/gallery">Galería de Productos</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/paciente" style="cursor: pointer;
      ">Paciente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/citaPrincipal" style="cursor: pointer;
      ">Cita</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" style="cursor: pointer;
      ">Contáctanos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" (click)="logout()" style="cursor: pointer;
      ">Cerrar Sesión</a>
    </li>
  </ul>
</nav>
