<!-- Sidebar -->
<nav id="sidebar" class="bg-light">
    <div class="sidebar-header">
      <a href="#">
        <img src="assets/imagen/logo.png" alt="Logotipo" style="height: 80px; margin: 20px;">
        <span>FeelFinder</span>
      </a>
    </div>
    <ul class="list-unstyled components">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Página Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery">Galería de Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contactos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/citaPrincipal">Cita</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro">Registro</a>
      </li>
    </ul>
  </nav>
